body {
    text-align: center;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 20px 200px 20px 200px;
    flex-direction: column;
}
.logo{
    display: flex;
    color: white;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    justify-content: flex-start;
    color: white;
    text-align: left;
    
}

.navbar {

    display: inline-block;
    text-decoration: none;
    color: white;
    text-decoration: none;
    justify-content: flex-end;
   
}

.navbar a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

#placeholder_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 450px;
}

.card {
    display: flex;
    flex-direction: column;
    /* padding: 20px 50px 0px 0px; */
    width: 400px;
    justify-content: flex-start;

}
.hero {
    font-size: 48px;
}

.foto {
    display: flex;
    padding: 20px 50px 20px 50px;
    justify-content: flex-end;
    height: 250px;
    width: 300px;
    border-radius: 5px;
}