body{
    text-align: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    background-color: #1F2937;
    padding: 20px 100px 20px 100px;
    align-items: center;  
    justify-content: space-between; 
}
.header h1 {
    justify-content: flex-start;
    color:white;
    padding: 20px 50px 20px 50px;
}
.navbar {

    display:inline-block;
    text-decoration: none;
   color: white;
   text-decoration: none;
   justify-content: flex-end;
   padding: 20px 50px 20px 50px;
}
.navbar a {
    text-align: center;
    color: white; 
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    }